<header>
  <nav class="header-nav">
    <a class="header-title" href="/">MyGameList</a>
    <ul>
      <li><a href="/consoles">View Consoles</a></li>
      <li><a href="/consoles/new">Add Console</a></li>
      <li><a href="/games">View Games</a></li>
      <li><a href="/games/new">Add Game</a></li>
      <li><a href="/donate">Donate</a></li>
    </ul>
  </nav>
</header>
