<header>
    <nav>
        <a href="/">MyGameList</a>
        <ul>
            <li><a href="/developers">Developers</a></li>
            <li><a href="/developers/new">Add Developer</a></li>
        </ul>
    </nav>
</header>