<header>
  <nav class="header-nav">
    <a class="header-title" href="/">MyGameList</a>
    <ul>
      <li class="header-link"><a href="/consoles">All Consoles</a></li>
      <li class="header-link"><a href="/consoles/new">Add Console</a></li>
      <li class="header-link"><a href="/games">All Games</a></li>
      <li class="header-link"><a href="/games/new">Add Game</a></li>
    </ul>
  </nav>
</header>
