<header>
    <h1>MyGameList App</h1>
    <nav>
        <a href="/">MyGameList</a>
        <ul>
            <li><a href="/consoles">All Consoles</a></li>
            <li><a href="/consoles/new">Add Console</a></li>
            <li><a href="/games">All Games</a></li>
            <li><a href="/games/new">Add Game</a></li>
        </ul>
    </nav>
</header>