<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="https://www.paypal.com/sdk/js?client-id=AZc7uT9fh4nECpXg2mAEtVkYTd4Dv6E0mlPCfYBJ4MqC6ycOs_iyNAZzngj2Jngp2IKekhHr1x_EdQ6B"></script>
</head>
<body>
    <div class="container">
        <%- include('../partials/header.ejs') %>
        <div class="inner-container">
            <%- include('../partials/errorMessage.ejs') %>
            <%- body %>
        </div>
    </div>
    <br>
</body>
</html>