<h2>Recently Added</h2>
<div>
    <% games.forEach(game => { %>
        <a href="/games/<%= game.id %>">
            <img height="250" width="200" src="<%= game.imagePath %>">
        </a>
    <% }) %>
</div>
<script src="/public/scripts/paypal.js" defer></script>
<input type="number" id="amount">
<div id="paypal">
</div>