@import 'shared/variables.css';
@import 'shared/fonts.css';
@import 'shared/header.css';
@import 'shared/buttons.css';
@import 'shared/form.css';

:root {
    font-size: 20px;
	color: var(--color-text-light);
}

*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	font-family: 'AG_Helvetica';
    background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light));   
    height: 100%;
    margin: 0 auto;
}

header {
    margin-bottom: 70px;
}
.space {
    height: 50px;
}
@media (max-width: 600px) {
	html, body {
        background: var(--color-background-light) cover; 
        margin: 0 auto;
        overflow: auto;
	}
    .space {
        height: 0px;
    }
}

.container {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 2rem;
	text-align: center;
}

.inner-container {
	margin: 0 auto;
	position: relative;
	width: 80%;
}

h2 {
	font-size: 2rem;
	font-weight: 500;
}

.console-list {
    margin: 0 auto;
	margin-top: 2rem;
    width: 200px;
}

img {
    height: 400px;
    width: 300px;
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
.game-index {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}