<h2>Search Games</h2>
<form action="/games" method="GET">
    <label>Title</label>
    <input type="text" name="title" value="<%= searchOptions.title %>">
    <button type="submit">Search</button>
</form>
<br>
<% games.forEach(game => { %>
<div><%= game.title %></div>
<% }) %>