<h2>Add Game</h2>
<form action="/games" method="POST" enctype="multipart/form-data">
<%- include('_form_fields') %>
    <button class="btn btn-primary" type="submit">Add</button>
    <a class="btn btn-cancel" href="/games">Cancel</a>
</form>