:root {
    --color-base-hue: 200;
    --color-background-dark: hsl(var(--color-base-hue), 100%, 10%);
    --color-background-light: hsl(var(--color-base-hue), 100%, 27%);
    --color-text-light: hsl(var(--color-base-hue), 100%, 95%);
    --color-cancel-hue: 0;
    --color-donate-dark: hsl(0, 100%, 60%);
    --color-donate-light: hsl(0, 100%, 40%);
    --color-donate-text-dark: hsl(100, 0%, 0%);
    --color-donate-text-light: hsl(100, 0%, 30%);
}