<header></header>
<script src="https://js.stripe.com/v3/"></script>
<div class="title">
  <h2>Donate</h2>
  <p>Thank you for your support!</p>
</div>
<br>
<button id="donate-stripe" class="btn btn-primary" type="submit">Donate $1</button>
<script src= '/scripts/stripe.js' defer></script>
