<div class="space"></div>
<h2>Edit Console</h2>
<form action="/consoles/<%= console.id %>?_method=PUT" method="POST">
    <div class="form-row">
        <div class="form-item">
            <%- include('_form_fields') %>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Update</button>
    <a class="btn btn-cancel" href="/consoles/<%= console.id %>">Cancel</a>
</form>